<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bootstrap首页</title>
    <!-- Custom CSS -->
</head>
<body>
	<%= render 'layouts/header'%>
    <a href="">asd</a>
    <%= link_to 'This is a link to testway',test_path%>
</body>
</html>