<div class="container">
	<div class="jumbotron">
		<h1>Hello, world!</h1>
		<p>This is a welcome page.</p>
		<p>
			<a class="btn btn-primary btn-lg" href="/about" role="button">Click me!!</a>
		</p>
	</div>
	<br>
	<br>
</div>