<div class="container">
	<div class="jumbotron">
		<h1>Hello, world!</h1>
		<p>This is a welcome page.</p>
		<p>
			<a class="btn btn-primary btn-lg" href="/about" role="button">Click me!!</a>
		</p>
<!-- 		<form>
			<div class="input-group">
				<input id="searchedit" type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
				<span class="input-group-addon" id="basic-addon2">@example.com</span>
			</div>
			<div class="input-group">
				<input id="searcheresult" type="text" name="test" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
			</div>
			<a class="btn btn-default" href="/user/search" role="button" id="searchbtn" data-remote="true" data-method="post">6</a>
		</form> -->
		<div class="input-group">
			<input id="searchedit" type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">		
			<span class="input-group-addon" id="basic-addon2">@example.com</span>
		</div>
		<div class="input-group">
			<input id="searchresult" type="text" name="test" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2"></div>
		<a class="btn btn-default" href="#" role="button" id="searchbtn" >search</a>
		

		<script>
		jQuery(document).ready(function($) {
			$("#searchbtn").click(function(event) {
			/* Act on the event */
			var content = $("#searchedit").val();
			console.log(content);
			$.ajax({
						url: '/user/search',
						type: 'post',
						dataType: 'text',
						data: {user_id: content},
						success: function(data , notice1){
							/* body... */
							var data_json=JSON.parse(data);
							alert(data_json["json1"]);
							console.log(data);
							$("#searchresult").val(data);
						}
					})
					.done(function() {
						console.log("success");
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
							
			});
		});
		</script>
	</div>
	<br>
	<br></div>