<h1>Activities#new</h1>
<p>Find me in app/views/activities/new.html.erb</p>
<p>hello ruby</p>
<button onclick="click1()">click me!</button>
<script>
	function click1 (){
		/* body... */
		alert("点了也没用");
	}
</script>
