<header class="navbar  navbar-inverse ">
  <div class="navbar-inner home-navbar-container">
    <div class="container">
      <%= link_to "404 not found", home_home_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    home_home_path %></li>
        </ul>
        <ul class="nav pull-right">
          <li><%= link_to "Help",    static_pages_help_path %></li>
        </ul>
        <ul class="nav pull-right">
          <li><%= link_to "Sign in", '#' %></li>
        </ul>        
      </nav>
    </div>
  </div>
</header>